In [ ]:
import psycopg2
import pandas as pd
import matplotlib.pyplot as plt
from wordcloud import WordCloud, STOPWORDS
import os, sys, email, re, string
from nltk.stem import WordNetLemmatizer
import nltk
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
from collections import Counter
import regex as re # Regular Expression

# Libraries for text preprocessing
nltk.download('omw-1.4')

# Stopwords: Stop words include the large number of prepositions, pronouns, conjunctions etc in sentences.
nltk.download('stopwords')
from nltk.corpus import stopwords

# Normalization (Stemming & lemmatization): Convert to base word, ex: 
# Stemming = learn, learned, learning, learner > learn
# Lemmatization = better > good, was > be, meeting > meeting
from nltk.stem.porter import PorterStemmer
from nltk.tokenize import RegexpTokenizer
nltk.download('wordnet')
from nltk.stem.wordnet import WordNetLemmatizer

# Obtaining part-of-speech tags:
from nltk import pos_tag

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [ ]:
engine = psycopg2.connect(
                     host = "database-1.cartuziufdwi.us-east-1.rds.amazonaws.com",
                     database = "postgres",
                     user = "postgres",
                     password = "password1!",
                     port = "5432" )

In [ ]:
cur = engine.cursor()
cur.execute("select * from enron_emails")
data= cur.fetchall()
emails_df = pd.DataFrame(data)
engine.close()

In [ ]:
# Create New DataFrame of with only subject and content of the emails

sub_cont_df = pd.DataFrame().assign(subject=emails_df[4])
sub_cont_df

                                                  subject
0       December 14, 2000 - Bear Stearns' predictions ...
1                            Bloomberg Power Lines Report
2             Consolidated positions: Issues & To Do list
3             Consolidated positions: Issues & To Do list
4                                                    None
...                                                   ...
224102                           Trade with John Lavorato
224103                                         Gas Hedges
224104                                   RE: CONFIDENTIAL
224105                          Calgary Analyst/Associate
224106                                   RE: ali's essays

[224107 rows x 1 columns]

In [ ]:
sub_cont_df.dtypes

subject    object
dtype: object

In [ ]:
# Creating a list of stop words and adding custom stopwords
stop_words = set(stopwords.words("english"))

# Creating a list of custom stopwords
new_words = ["using", "show", "result", "large", "also", "iv", "one", "two", "new", "previously", "shown",'fwd','RE','FW','b','c',
    'enron','hou','ect','corp','please','vince','time','mail','john','kay','day','message','week','kaminski','year','e','r','l','th',
    'meeting','enronxgate','question','group','work','call','scott','change','company','let','mann','date','number','asp','ee','id',
    'mark','today','david','mike','issue','houston','chris','subject','way','bass','jeff','edu','office','doc','don','j','f','image',
    'month','copy','name','comment','email','need','phone','point','thing','request','look','ben','michael','list','rows','columns',
    'help','delainey','fax','morning','use','tomorrow','thank','phillip','hotmail','guy','robert','night','lon','p','zuffe','x','pdf',
    'part','talk','kate','home','mailto','person','address','form','jeffrey','something','end','line','hour','k','prc','spec','inc',
    'place','march','love','anything','paul','giron','smith','hope','darron','jim','kevin','weekend','george','book','report','w','letter',
    'north','someone','section','richard','discus','bob','jacoby','ena','room','see','demand','desk','area','acrobat','stephane','comment',
    'everyone','greg','detail','jason','afternoon','discussion','tom','kslaw','check','basis','visit','mcconnell','adobe','brodeur','letter',
    'miller','entity','location','peter','monday','response','show','page','jennifer','lot','meet','respond','fon','im','src','gif','year',
    'yesterday','pdx','house','june','larry','jan','dan','city','july','judy','friday','julie','shirley','meter','cand','tor','lal','time',
    'Hello','Meeting','Ga','Access','positions','list','forward','floor','collar','fixed','thanks','script','face','mini','adobe','','align',
    'level','fyi','addition','martin','anyone','generation','department','type','rick','friend','period','word','player','cooke','doucet',
    'lisa','think','class','johnson','org','robin','thompson','columbiagas','didn','april','william','lee','thomas','cc','zufferli','html',
    'hey','adam','stephen','man','sender','tim','taylor','organization','center','everything','ferc','notice','pm','mp','tr','td','e','asp',
    'start','davis','york','sorry','cell','return','street','hernandez','thursday','campbell','care','content','get','thanks','perlman','g',
    'curve','minute','floor','stinson','janet','head','move','kind','kent','tuesday','sheila','send','suzanne','br','note','burchfield','james',
    'brenda','kim','matter','fgt','carolyn','cindy','ccampbell','tell','fwd','crenshaw','baumbach','linda','side','ee','people','divine','co',
    'clark','mind','hain','wharton','future','errol','carlos','hand','matt','bruce','gossett','brian','try','br','font','size','draper','livia',
    'wednesday','calendar','laura','nothing','doug','llc','rebecca','rob','stephanie','austin','victor','join','helvetica','dawn','ymca',
    'joseph','couple', 'allen', 'kean', 'arnold', 'var', 'keith', 'lucy', 'grigsby','http','www','image','com','sportsline','href','aol','fw']

stop_words = stop_words.union(new_words)

In [ ]:
sub_cont_df.dropna(inplace=True)

In [ ]:
sub_cont_df.dtypes

subject    object
dtype: object

In [ ]:
corpus = []
for sentence in sub_cont_df["subject"]:
    if not sentence : continue
    # Remove punctuations, tags, special characters and digits
    text = re.sub('[^a-zA-Z]', ' ', sentence)
    text = re.sub("<?.*?>"," <> ",text)
    text=re.sub("(\d|\W)+"," ",text)

    text = text.lower() # Convert to lowercase
    text = text.split() # Convert to list from string
  
    # Stemming then Lemmatisation
    ps = PorterStemmer()
    lem = WordNetLemmatizer()
    text = [lem.lemmatize(word) for word in text if not word in stop_words] 
    text = " ".join(text)
    corpus.append(text)

In [ ]:
# Removing everything except Noun
# Using part-of-speech (POS) tagging:
# https://www.ling.upenn.edu/courses/Fall_2003/ling001/penn_treebank_pos.html

corpus_sub = []
for sentence in corpus:
  words = sentence.split()
  tagged = pos_tag(words)

  # Only get the ones with N** tagging
  nouns = [s[0] for s in tagged if s[1][0] == 'N']

  # Revert back the array of words into a sentence
  corpus_sub.append(' '.join(nouns))

In [ ]:
corpus_sub_df = pd.DataFrame(corpus_sub)

In [ ]:
corpus_sub_df.rename(columns={0: 'words'}, inplace=True)
corpus_sub_df.set_index('words')
corpus_sub_df

                                           words
0       stearns prediction telecom latin america
1                                     power line
2                                          issue
3                                          issue
4                                    margin plan
...                                          ...
216248                            trade lavorato
216249                                 gas hedge
216250                              confidential
216251                         analyst associate
216252                                       ali

[216253 rows x 1 columns]

In [ ]:
from sqlalchemy import create_engine
conn_string = 'postgresql://postgres:password1!@database-1.cartuziufdwi.us-east-1.rds.amazonaws.com:5432/postgres'

db = create_engine(conn_string)
conn = db.connect()

In [ ]:
corpus_sub_df.to_sql('corpus_sub', db, if_exists="append", index=False)

In [ ]:
# Common post title words
freq = pd.Series(' '.join(corpus_sub_df['words']).split()).value_counts()[:1500].reset_index(name = 'count')

freq
freq_sub_df = pd.DataFrame(freq)
freq_sub_df.rename(columns={'index': 'word'}, inplace=True)
freq_sub_df.set_index('word')
freq_sub_df

            word  count
0             fw  16239
1      agreement   5361
2            gas   5189
3          power   4312
4         energy   4288
...          ...    ...
1495         ten     47
1496  burlington     47
1497    newswire     47
1498       panda     47
1499     diamond     47

[1500 rows x 2 columns]

In [ ]:
from sqlalchemy import create_engine
conn_string = 'postgresql://postgres:password1!@database-1.cartuziufdwi.us-east-1.rds.amazonaws.com:5432/postgres'

db = create_engine(conn_string)
conn = db.connect()

In [ ]:
freq_sub_df.to_sql('word_freq_sub', db, if_exists="append", index=False)

In [ ]:
# Uncommon post title words
freq_sub =  pd.Series(' '.join(corpus_sub_df['words']).split()).value_counts()[-100:]
freq_sub

stockholde      1
boomberg        1
lazytrader      1
util            1
sunw            1
               ..
grrrrrrrrrr     1
tesser          1
tueday          1
creditworthy    1
greek           1
Length: 100, dtype: int64

In [ ]:
freq_sub_df.to_csv('word_freq_sub.csv', index=False)