In [ ]:
import psycopg2
import pandas as pd
import matplotlib.pyplot as plt
from wordcloud import WordCloud, STOPWORDS
import os, sys, email, re, string
from nltk.stem import WordNetLemmatizer
import nltk
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
from collections import Counter
import regex as re # Regular Expression

# Libraries for text preprocessing

nltk.download('omw-1.4')

# Stopwords: Stop words include the large number of prepositions, pronouns, conjunctions etc in sentences.
nltk.download('stopwords')
from nltk.corpus import stopwords

# Normalization (Stemming & lemmatization): Convert to base word, ex: 
# Stemming = learn, learned, learning, learner > learn
# Lemmatization = better > good, was > be, meeting > meeting
from nltk.stem.porter import PorterStemmer
from nltk.tokenize import RegexpTokenizer
nltk.download('wordnet')
from nltk.stem.wordnet import WordNetLemmatizer

# Obtaining part-of-speech tags:
from nltk import pos_tag
# Libraries for text preprocessing

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...

In [ ]:
engine = psycopg2.connect(
                     host = "database-1.cartuziufdwi.us-east-1.rds.amazonaws.com",
                     database = "postgres",
                     user = "postgres",
                     password = "password1!",
                     port = "5432" )

In [ ]:
cur = engine.cursor()
cur.execute("select * from enron_emails")
data= cur.fetchall()
emails_df = pd.DataFrame(data)
engine.close()

In [ ]:
emails_df

,0,1,2,3,4,5,6,7,8,9,10,11
0,<29790972.1075855665306.JavaMail.evans@thyme>,2000-12-14,1.11913372.-2@multexinvestornetwork.com,pallen@enron.com,"December 14, 2000 - Bear Stearns' predictions ...",\Phillip_Allen_Dec2000\Notes Folders\All docum...,Allen-P,pallen.nsf,In today's Daily Update you'll find free repor...,8486,0,0
1,<21975671.1075855665520.JavaMail.evans@thyme>,2000-12-13,messenger@ecm.bloomberg.com,None,Bloomberg Power Lines Report,\Phillip_Allen_Dec2000\Notes Folders\All docum...,Allen-P,pallen.nsf,Here is today's copy of Bloomberg Power Lines....,16252,0,0
2,<7452188.1075855667684.JavaMail.evans@thyme>,2000-10-09,phillip.allen@enron.com,keith.holst@enron.com,Consolidated positions: Issues & To Do list,\Phillip_Allen_Dec2000\Notes Folders\All docum...,Allen-P,pallen.nsf,---------------------- Forwarded by Phillip K ...,5688,0,0
3,<23790115.1075855667708.JavaMail.evans@thyme>,2000-10-09,phillip.allen@enron.com,keith.holst@enron.com,Consolidated positions: Issues & To Do list,\Phillip_Allen_Dec2000\Notes Folders\All docum...,Allen-P,pallen.nsf,---------------------- Forwarded by Phillip K ...,5688,0,0
4,<5860470.1075855667730.JavaMail.evans@thyme>,2000-10-05,phillip.allen@enron.com,david.delainey@enron.com,None,\Phillip_Allen_Dec2000\Notes Folders\All docum...,Allen-P,pallen.nsf,"Dave, \n\n Here are the names of the west desk...",120,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
224102,<26807948.1075842029936.JavaMail.evans@thyme>,2001-11-28,john.zufferli@enron.com,kori.loibl@enron.com,Trade with John Lavorato,"\ExMerge - Zufferli, John\Sent Items",ZUFFERLI-J,john zufferli 6-26-02.PST,This is a trade with OIL-SPEC-HEDGE-NG (John L...,341,0,0
224103,<25835861.1075842029959.JavaMail.evans@thyme>,2001-11-28,john.zufferli@enron.com,john.lavorato@enron.com,Gas Hedges,"\ExMerge - Zufferli, John\Sent Items",ZUFFERLI-J,john zufferli 6-26-02.PST,Some of my position is with the Alberta Term b...,117,0,0
224104,<28979867.1075842029988.JavaMail.evans@thyme>,2001-11-28,john.zufferli@enron.com,dawn.doucet@enron.com,RE: CONFIDENTIAL,"\ExMerge - Zufferli, John\Sent Items",ZUFFERLI-J,john zufferli 6-26-02.PST,2\n\n -----Original Message-----\nFrom: \tDouc...,326,0,0
224105,<22052556.1075842030013.JavaMail.evans@thyme>,2001-11-27,john.zufferli@enron.com,jeanie.slone@enron.com,Calgary Analyst/Associate,"\ExMerge - Zufferli, John\Sent Items",ZUFFERLI-J,john zufferli 6-26-02.PST,Analyst\t\t\t\t\tRank\n\nStephane Brodeur\t\t\...,170,0,0
224106,<28618979.1075842030037.JavaMail.evans@thyme>,2001-11-26,john.zufferli@enron.com,livia_zufferli@monitor.com,RE: ali's essays,"\ExMerge - Zufferli, John\Sent Items",ZUFFERLI-J,john zufferli 6-26-02.PST,i think the YMCA has a class that is for peopl...,3694,0,0

In [ ]:
# Create New DataFrame of with only subject and content of the emails

sub_cont_df = pd.DataFrame().assign(subject=emails_df[4], content=emails_df[8])
sub_cont_df

,subject,content
0,"December 14, 2000 - Bear Stearns' predictions ...",In today's Daily Update you'll find free repor...
1,Bloomberg Power Lines Report,Here is today's copy of Bloomberg Power Lines....
2,Consolidated positions: Issues & To Do list,---------------------- Forwarded by Phillip K ...
3,Consolidated positions: Issues & To Do list,---------------------- Forwarded by Phillip K ...
4,None,"Dave, \n\n Here are the names of the west desk..."
...,...,...
224102,Trade with John Lavorato,This is a trade with OIL-SPEC-HEDGE-NG (John L...
224103,Gas Hedges,Some of my position is with the Alberta Term b...
224104,RE: CONFIDENTIAL,2\n\n -----Original Message-----\nFrom: \tDouc...
224105,Calgary Analyst/Associate,Analyst\t\t\t\t\tRank\n\nStephane Brodeur\t\t\...
224106,RE: ali's essays,i think the YMCA has a class that is for peopl...

In [ ]:
# Creating a list of stop words and adding custom stopwords
stop_words = set(stopwords.words("english"))

# Creating a list of custom stopwords
new_words = ["using", "show", "result", "large", "also", "iv", "one", "two", "new", "previously", "shown",'fwd','RE','FW','b','c',
    'enron','hou','ect','corp','please','vince','time','mail','john','kay','day','message','week','kaminski','year','e','r','l','th',
    'meeting','enronxgate','question','group','work','call','scott','change','company','let','mann','date','number','asp','ee','id',
    'mark','today','david','mike','issue','houston','chris','subject','way','bass','jeff','edu','office','doc','don','j','f','image',
    'month','copy','name','comment','email','need','phone','point','thing','request','look','ben','michael','list','rows','columns',
    'help','delainey','fax','morning','use','tomorrow','thank','phillip','hotmail','guy','robert','night','lon','p','zuffe','x','pdf',
    'part','talk','kate','home','mailto','person','address','form','jeffrey','something','end','line','hour','k','prc','spec','inc',
    'place','march','love','anything','paul','giron','smith','hope','darron','jim','kevin','weekend','george','book','report','w','letter',
    'north','someone','section','richard','discus','bob','jacoby','ena','room','see','demand','desk','area','acrobat','stephane','comment',
    'everyone','greg','detail','jason','afternoon','discussion','tom','kslaw','check','basis','visit','mcconnell','adobe','brodeur','letter',
    'miller','entity','location','peter','monday','response','show','page','jennifer','lot','meet','respond','fon','im','src','gif','year',
    'yesterday','pdx','house','june','larry','jan','dan','city','july','judy','friday','julie','shirley','meter','cand','tor','lal','time',
    'Hello','Meeting','Ga','Access','positions','list','forward','floor','collar','fixed','thanks','script','face','mini','adobe','','align',
    'level','fyi','addition','martin','anyone','generation','department','type','rick','friend','period','word','player','cooke','doucet',
    'lisa','think','class','johnson','org','robin','thompson','columbiagas','didn','april','william','lee','thomas','cc','zufferli','html',
    'hey','adam','stephen','man','sender','tim','taylor','organization','center','everything','ferc','notice','pm','mp','tr','td','e','asp',
    'start','davis','york','sorry','cell','return','street','hernandez','thursday','campbell','care','content','get','thanks','perlman','g',
    'curve','minute','floor','stinson','janet','head','move','kind','kent','tuesday','sheila','send','suzanne','br','note','burchfield','james',
    'brenda','kim','matter','fgt','carolyn','cindy','ccampbell','tell','fwd','crenshaw','baumbach','linda','side','ee','people','divine','co',
    'clark','mind','hain','wharton','future','errol','carlos','hand','matt','bruce','gossett','brian','try','br','font','size','draper','livia',
    'wednesday','calendar','laura','nothing','doug','llc','rebecca','rob','stephanie','austin','victor','join','helvetica','dawn','ymca',
    'joseph','couple', 'allen', 'kean', 'arnold', 'var', 'keith', 'lucy', 'grigsby','http','www','image','com','sportsline','href','aol']

stop_words = stop_words.union(new_words)

In [ ]:
corpus = []
for sentence in sub_cont_df["content"]:
  # Remove punctuations, tags, special characters and digits
  text = re.sub('[^a-zA-Z]', ' ', sentence)
  text = re.sub("&lt;/?.*?&gt;"," &lt;&gt; ",text)
  text=re.sub("(\\d|\\W)+"," ",text)

  text = text.lower() # Convert to lowercase
  text = text.split() # Convert to list from string
  
  # Stemming then Lemmatisation
  ps = PorterStemmer()
  lem = WordNetLemmatizer()
  text = [lem.lemmatize(word) for word in text if not word in stop_words] 
  text = " ".join(text)
  corpus.append(text)

In [ ]:
# Removing everything except Noun
# Using part-of-speech (POS) tagging:
# https://www.ling.upenn.edu/courses/Fall_2003/ling001/penn_treebank_pos.html

corpus2 = []
for sentence in corpus:
  words = sentence.split()
  tagged = pos_tag(words)

  # Only get the ones with N** tagging
  nouns = [s[0] for s in tagged if s[1][0] == 'N']

  # Revert back the array of words into a sentence
  corpus2.append(' '.join(nouns))

In [ ]:
corpus2_df = pd.DataFrame(corpus2)

In [ ]:
corpus2_df.rename(columns={0: 'words'}, inplace=True)
corpus2_df.set_index('words')
corpus2_df

                                                    words
0       find report interventures report space telecom...
1       power line reader view file download version r...
2       beth issue issue requirement transport trade c...
3       beth issue issue requirement transport trade c...
4                          name member origination sparse
...                                                   ...
224102  trade oil hedge ng lavorato pwr pr pwr pr oil ...
224103                                      position term
224104                 confidential lalani report confirm
224105                  analyst rank torres cooper richey
224106  heart attack monitor essay heart class dr ravi...

[224107 rows x 1 columns]

In [ ]:
from sqlalchemy import create_engine
conn_string = 'postgresql://postgres:password1!@database-1.cartuziufdwi.us-east-1.rds.amazonaws.com:5432/postgres'

db = create_engine(conn_string)
conn = db.connect()

In [ ]:
corpus2_df.to_sql('corpus2', db, if_exists="append", index=False)

In [ ]:
# Common post title words
freq = pd.Series(' '.join(corpus2_df['words']).split()).value_counts()[:1500].reset_index(name = 'count')

freq
freq_df = pd.DataFrame(freq)

In [ ]:
freq_df.rename(columns={'index': 'word'}, inplace=True)

freq_df

        word   count
0     energy  124805
1      power  118483
2     market   99446
3        gas   92579
4      price   90607
...      ...     ...
1495     son    1935
1496    exit    1933
1497   scope    1932
1498    luck    1931
1499  manner    1930

[1500 rows x 2 columns]

In [ ]:
from sqlalchemy import create_engine
conn_string = 'postgresql://postgres:password1!@database-1.cartuziufdwi.us-east-1.rds.amazonaws.com:5432/postgres'

db = create_engine(conn_string)
conn = db.connect()

In [ ]:
freq_df.to_sql('word_freq', db, if_exists="append", index=False)

In [ ]:
# Uncommon post title words
freq =  pd.Series(' '.join(corpus2_df['words']).split()).value_counts()[-100:]
freq

ghacacaabb                                      1
faagkaaeabgabaioafgdmaaaaaaaa                   1
aiaaff                                          1
bqabigabaayagwckabqazaaaaaaaacbpqagagaau        1
gdacacaabp                                      1
                                               ..
bgmajqcnaaeyabdzabkbaaajhaaaaaaaaaajaniapwis    1
qakajqac                                        1
aaadnaayagwcnaaea                               1
wsajyzajmabgbkqaaabagyajaaaacebaqigai           1
davisville                                      1
Length: 100, dtype: int64

In [ ]:
freq_df.to_csv('word_freq.csv', index=False)
# df.to_csv('../data/my_new_file.csv', index=False)